
.requestsCard {
    border-radius: 1.25rem; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.new-request-btn {
    background-color: #247f3e;
    cursor: pointer;
}

.custom-navbar {
    background-color: #2e7d32;
    padding: 1rem;
}
.navbar-nav .nav-link.active {
    font-weight: bold;
    color: white;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    margin-right: 1rem;
    font-size: 1rem;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #f0f0f0;
}

.icons {
    display: flex;
    gap: 1rem;
}

.nav-icon {
    color: white;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.nav-icon:hover {
    color: #f0f0f0;
}

.navbar-toggler {
    border: none;
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%281255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


@media (max-width: 991.98px) {
    .custom-navbar .navbar-nav {
        text-align: center;
    }
    .icons {
        justify-content: center;
    }
}

.one-line {
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
}